name: GitHub Actions Demo

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    name: build & test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build
        run: |
         sudo apt-get update
         sudo apt-get install --reinstall -y flex
         make flex build/lexical-test

      - name: Test
        run: make check-lexical
