name: GitHub Actions Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: build

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build
        run: sudo apt-get install -y flex build-essential
        run: make flex build/lexical-test
